html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
header {
    flex: none;
}
footer {
    flex: none;
}
main {
    flex: 1 1 auto;
}
a:not(:hover) {
    text-decoration: none;
}
