@font-face {
    font-family: 'finetext';
    src: url('../fonts/Pacifico-Regular.woff2') format('woff2');
}

/* basis */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-rows: 100px auto 150px;
}
header {
    /* height: 100px; */
    background: blue;
    /*flex: none;*/
}
footer {
    /* height: 150px; */
    background: gray;
    /*flex: none;*/
}
main {
    /*flex: 1 1 auto;
    display: flex;*/
    display: grid;
    grid-template-columns: 200px auto;
}

/* footer */
.copyright {
    font: 20px 'finetext';
    color: rgba(255,255,255,.5);
}

/* main */
aside {
    /*width: 200px;*/
    /*height: 100%;
    float: left;*/
    /*flex: none;*/
    background: red;
}
article {
    /*margin-left: 200px;
    height: 100%;*/
    /*flex: 1 1 auto;*/
    background: yellow;
}
/*
article::after {
    clear: left;
    content: '';
    display: block;
}
*/
